/***************************************************************************************
                                                 SITE WIDE
/****************************************************************************************/

body {
  margin: 0;
  padding: 0;
}

header,
main {
  margin: 20px;
}

/* FONTS */

body {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  color: #333;
  background-color: blanchedalmond;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif, serif;
}

h1 {
  font-size: 40px;
  color: #047;
  letter-spacing: 3px;
}

h2 {
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 20px;
  font-style: italic;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
  margin: 0px;
}

/* NAVBAR */

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background-color: #3474e6;
  color: white;
  height: 60px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

/***************************************************************************************
                                                 CV
/****************************************************************************************/

.paper-background {
  background-color: white;
  max-width: 1000 px;
  margin: 20px;
  padding: 20px;
}

#info,
main {
  max-width: 1000px;
  padding: 0 20px;
}

#info {
  margin: 30px auto;
}

main {
  margin: 30px auto;
}

#info h1 {
  margin: 0;
}

#info h2 {
  margin: 0;
}

/* DISPLAY */

@media screen and (max-width: 799px) {
  #info {
    display: block;
  }

  #info .left {
    text-align: center;
  }

  #info .right {
    text-align: center;
    margin-top: 20px;
  }

  section .right {
    margin: 20px;
  }

  section h3 {
    font-weight: bold;
  }
}

@media screen and (min-width: 800px) {
  #info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #info .right {
    align-self: end;
    text-align: right;
  }

  section {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
}

.work-item {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.work-item p {
  grid-area: 2 / 1 / 3 / 3;
}

/***************************************************************************************
                                                 PROJECTS
/****************************************************************************************/

.projects-wrapper {
  margin: 20px;
}

#grid-container {
  display: grid;
  grid-template-columns: 150px auto auto;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
}

#title {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}

#menu {
  grid-column: 1/2;
  grid-row: 2/4;
}

#image {
  grid-column: 2/4;
  grid-row: 2/3;
}

#article1 {
  grid-column: 2/3;
  grid-row: 3/3;
}

#article2 {
  grid-row: 3/4;
  grid-column: 3/4;
}

/***************************************************************************************
                                                 CONTACT
/****************************************************************************************/

.form-question {
  margin: 20px 0;
}

.contact-wrapper {
  margin: 20px;
}

.form-question label {
  display: block;
  margin-bottom: 5px;
}

.form-question input,
.form-question textarea {
  width: 80vw;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 5px 10px;
}

.required label::after {
  content: "*";
  color: red;
}

#submit {
  padding: 7px 20px;
  background-color: #256ac4;
  color: white;
  border: 0;
  box-shadow: 1px 2px #333;
  border-radius: 4px;
}

#submit:hover {
  background-color: white;
  color: #256ac4;
  box-shadow: none;
  border: 1px solid #256ac4;
}
